div{
    /*width: 31%;*/
    border-width: 1px;
    border-style: solid;
    border-color: black;
    float: left;
    padding: 2px;
    margin:0.5%;
    color: black;
    background-color: brown
  
  }
  
  
  
  #content{
    text-align: right;
    font-weight: bold;
    width: 20%;
    height: 50%;
    background-color: green;
    border-width: 1%;
    border-style: solid;
    color:black;
    position: relative;
    bottom:18px;
    left: 3px;
  float:right;
  
  
  
  }
  
  h1{
    color:black;
    text-align: center;
  }
  
  /*pc*/
  
  @media(min-width:992px){
      #first{
        width: 31%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        float: left;
        padding: 1px;
  
        color: black;
        background-color: brown
  
      }
  
  #second{
    width: 31%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    float: left;
    padding: 1px;
  
    color: black;
    background-color: brown
  }
  #third{
    width: 31%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    float: left;
    padding: 1px;
  
    color: black;
    background-color: brown
  }
  }
  /*tablet*/
  @media (min-width:768px) and (max-width:991px){
  
  
    #first{
      width: 40%;
    }
    #second{
      width: 40%;
  
  
  
    }
  
    #third{
      width:81.5%;
  
    }
  }
  /*smartphone*/
  @media(max-width:767px){
   #first{
     width: 100%;
   }
   #second{
     width: 100%;
   }
   #third{
     width:100%;
   }
  }